
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.bottom{
  text-align: center;
}
.bottom h2{
  display: flex; 
  align-items: center;
  
  color: #ffffff;
 
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}
.buttons div{
 
  padding: 10px 100px;
}
.navigation a {

  color: #01261C;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  padding-left: 30px;
  white-space: nowrap;

}
.up .logo{
  margin-top: 0!important;
  margin-left: 0!important;
}
header {

  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  display: flex;
}

.logo {
  text-decoration: none;
  color: #01261C;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.7em;
}
.GameCard {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  min-height: 14em;
  width: 18em;
  overflow: hidden;
  border-radius: 10px;
  margin: 25px;
  transition: 0.7s ease;
  margin-bottom: 50PX;
}
.gameInfo {
  padding: 1em;
  text-align: left;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}
.top span {
  display: inline-block;
  margin-top: -10px;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 900;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color :#038c65;
}

.top{
  
    
    display: flex;
    align-items: center;
    /* background: url(images/background1.png) no-repeat; */
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-color: #01261C;
    justify-content: center;
   flex-direction: column;
   
}
.logo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
}
.mid {
  padding-top: 30px;
  padding-bottom: 50px;

}
h2{
  font-family: 'Droid Arabic Kufi', serif;
}
span{
  font-family: 'Droid Arabic Kufi', serif;
}
h3{
  font-family: 'Droid Arabic Kufi', serif;
}
a{
  font-family: 'Droid Arabic Kufi', serif;
}
p {
  font-family: 'Droid Arabic Kufi', serif;}
.GameCard p {
  font-family: 'Droid Arabic Kufi', serif;
  text-align:center ;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p {
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  color: #01261C;
}

.mid{
  display: flex;
    align-items: center;
    /* background: url(images/background1.png) no-repeat; */
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
   
    justify-content: center;
   flex-direction: column;
    background-color: rgb(255, 255, 255);
   
}
.bottom h2{
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #038c65;
    flex-direction: column;
}
.bottom{
  
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;

  
  align-items: center;
  /* background: url(images/background1.png) no-repeat; */
  background-size: cover;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-color: #01261C;
  
 
}
.GameCard {
  box-shadow:0 1px 20px #ffffff, 0 1px 17px #ffffff;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  height: 497.43px;
  width: 288px;
  overflow: hidden;
  border-radius: 10px;
  margin: 25px;
  transition: 0.7s ease;
  margin-bottom: 50PX;
}
.C-Card {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  min-height: 6em;
  width: 17em;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.7s ease;
  margin-bottom: 60PX;
  text-align: center;
  justify-content: center;
}
h6{
  padding-left: 40px;
  padding-top: 20px;
}
.content .C-Card {
  box-shadow: 0 5px 25px rgb(1 1 1 / 50%);
  border-radius: 15px;

}
.gameTitle {

  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 5px;
  white-space: nowrap;
}
.game-category {
  font-size: 0.8em;
  font-weight: 700;
  color: black;
}
button{
  box-shadow:0 1px 10px #04BF8A, 0 1px 10px #04BF8A;
  border-radius: 24px!important;
  background-color: #04BF8A!important;
  border-color: #04BF8A!important;
  color: #ffffff!important;
    width: 130px;
    height: 65px;
    transition: all 3s ease-in-out;
}
.ll{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
}
button:active {
    transform: translate(0px, 5px)!important;
    -webkit-transform: translate(0px, 5px)!important;
    box-shadow: 0px 1px 0px 0px!important;
  }
button:hover{
   transform: scale(1.2) perspective(1px)!important;
   box-shadow:0 1px 20px #04BF8A, 0 1px 20px #04BF8A;
}
svg{
    fill:#ffffff;
    height: 0.7cm;
    height: 0.7cm;
}
svg:hover{
  height: 0.9cm;
  height: 0.9cm;
}
.top svg {
 padding-left: 17px;
 margin-bottom: 120px;
} 
.textk{
    color: #038c65;
    font-size: 1.5em;
    font-weight: 700;
   
    margin-bottom: 10px;

}
.span{
 
  display: inline-block;
  margin-top: -10px;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 900;
}
.gameImage img {
  width: 100%;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
  min-width: 287px;
  min-height: 287px;
  max-width: 287px;
  max-height: 287px;
}
.PlayNow {
  text-decoration: none;
  color: #038C65;
}
.bigo{
 
    display: inline-block;
    margin-top: -10px;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 900;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: rgb(0, 0, 0);
  --background: rgb(255, 255, 255);
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: rgb(255, 255, 255);
  --background: rgb(0, 0, 0);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
 
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width );
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
.sidebar.n{
  display : none;
}
.sidebar.active {
  
  transition: translate var(--animation-timing);
  translate: -200%;
  z-index: 98;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  width: 40rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
.bur{

  
    position: absolute;
   
}
.bottom span{
  color:#01261C;
}
@media (max-width: 767px){
  .bur {
    display: block;
    z-index:1000;
    color:black;
    position: fixed;

  }
  .up .navigation{
    display : none;
  }
  header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    display: flex;
}
}
@media (min-width: 767px){
  .bur {
    display: none;

  }
}
.cont{
  display: flex;
  align-items: center;
  /* background: url(images/background1.png) no-repeat; */
  background-size: cover;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
 
  justify-content: center;
 flex-direction: column;
  background-color: rgb(255, 255, 255);
}